BattleshipsFormsClient/Connected Services/ServiceReference1/Battleships2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://com.hurfo.wcfbattle" elementFormDefault="qualified" targetNamespace="http://com.hurfo.wcfbattle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1337/Battleships?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1337/Battleships?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="Attack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="player" type="xs:int" />
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AttackResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentTurn">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrentTurnResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="player" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="grid" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGridResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPlayerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GameStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GameStateResult" nillable="true" type="q2:TupleOfintArrayOfintty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>